<div class="form-login">
    <h1>Login Form</h1>

    <form #formLogin=ngForm>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" >
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    {{model.name}}
    <br>
    {{model.password}}    
</div>