   
<div class="control-db flex-row">
        <div [className]="(statusDb.access) ? 'db-on' : 'db-off'"> 
            <h3>Database: {{ (statusDb.access) ? "On" : "Off" }} </h3>        
        </div>
        <div class="db-control flex-column">
            <button (click)="switchDb(statusDb)">{{ (statusDb.access) ? "Close" : "Open" }} Database</button>
            
            <!-- <button (click)="switchDb(statusDb)">Close the Database</button> -->

            <button *ngIf="!rules" (click)="getSchedulefromDb()" >Scheduler</button>
            <button *ngIf="rules" (click)="rules=null" >Hide Scheduler</button>
             <!-- {{statusDb}}  -->
        </div>    
    </div>
    <div *ngIf="rules" class="scheduler">
        <div *ngFor="let rule of rules" [className]="(rule.access) ? 'on' : 'off'"> 
            <div class="rule flex-row">
                <div class="date">{{formatDate(rule.date)}}</div>
                <div *ngIf="rule.access != null"  [className]="rule.access" (click)="switchDb(rule)" >{{ (rule.access) ? "On" : "Off"  }}  </div>
                <div *ngIf="rule.access == null" [className]="rule.access"> update </div>               
            </div>
        </div>
    </div>