div * {
    transition: all 0.3s ease;
}

.db-off, .db-on   {
  width:30%;
  text-align: center;
}

.db-on {
  background-color:#a0daa0;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.db-off {
  background-color: #edaeae;
}
.db-control {

}

.null {
    background: #f8ff95;
}

button {
     width: 150px; 
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 15px;
}

.scheduler {
    margin-top: 20px;
    width: 30%;
}

.rule {
    position: relative;
    
    padding: 10px 20px;  
}
.date {
    display: block;
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.on .date {
    background: #95c3ff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); 
    border: 1px solid #95c3ff;;
}
.off .date {
    background: #eee;
}

.rule .true, .rule .false  {
 padding: 12px;     
}

.rule .true {
    background: greenyellow;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

}

.rule .false {
    background: #ddd;
}
.rule .true:hover, .rule .false:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
.rule .true:hover {
    background-color:#a0daa0;
}

